<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @*@Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")*@

    <link href="../Content/bootstrap.css" rel="stylesheet" />

    <script src="../Scripts/modernizr-2.6.2.js" type="text/javascript"></script>
    <script src="../Scripts/jquery-1.10.2.js" type="text/javascript"></script>
    <!--<script src="../Scripts/jquery-1.10.2.intellisense.js"  type="text/javascript"></script>-->

    <script src="../Scripts/bootstrap.js" type="text/javascript"></script>
    <script src="../Scripts/respond.js" type="text/javascript"></script>

    <script src="../Scripts/angular.js" type="text/javascript"></script>
    <script src="../Scripts/angular-route.js" type="text/javascript"></script>
    <script src="../Scripts/app/angular/dropCodeApp.js" type="text/javascript"></script>
    <script src="../Scripts/app/angular/customerController.js" type="text/javascript"></script>
    <script src="../Scripts/app/angular/orderController.js" type="text/javascript"></script>
    <script src="../Scripts/app/angular/productController.js" type="text/javascript"></script>
    <script src="../Scripts/app/angular/indexController.js" type="text/javascript"></script>
    <script src="~/Scripts/app/angular/mainController.js" type="text/javascript"></script>

</head>
<body ng-app="DropCodeApp">
    


    <div class="container body-content" ng-controller="indexController">
        <div ng-view></div>

        begin render
        @RenderBody()
        end render

        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")*@
</body>

@RenderSection("scripts", required: false)

</html>
